@media screen and (max-width:880px) {
    
    .menu{
        position: fixed;
        left:-100%;
       
        top: 8rem;
        flex-direction: column;
         background-color: #032323;
 
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); 
        overflow-x: hidden;
    }
    .menu.active{
        left:0;
        
    
    }
    .nav-item{
        margin:2.5rem 0;

    }
    .burger{
        display: block;
        cursor: pointer;
    }
    
}
@media  screen and (max-width:830px) {
    /* .body{
        display: hidden;
    } */
   .text1{
       font-size: 20px;
       font-weight: 600;
   }
   .text2{
       font-size: 30px;
       font-weight: 600;
   }
   .text3{
       font-size: 25px;
       font-weight: 600;
       color: #021a18;
   }
   .ania img{
       height: 400px;
   }
    
}
@media screen and (max-width:720px) {
    .container{
        flex-direction: column;
    }
    .ania img{
        height: 400px;
        
    }
    .cv{
        text-decoration: none;
         /* margin-top: 300px; */
        
        padding: 20px;
        
        background-color: black;
        border-radius: 20px; 
        text-align: center;
        width: 50px;
    }
    .text1{
        font-size: 20px;
        font-weight: 600;
    }
    .text2{
        font-size: 30px;
        font-weight: 600;
    }
    .text3{
        font-size: 25px;
        font-weight: 600;
        color: #021a18;
    }
    .intro{
        margin-top: 15px;
    }
    .cv{
        text-decoration: none;
       
        
        padding: 10px;
        
        background-color: black;
        border-radius: 20px; 
        text-align: center;
        width: 160px;
        margin-left: 10%;
        /* margin-top: 100px; */
        
    }
    .cv a{
        color: blanchedalmond;
        font-size: 16px;
        
    }
    .home{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        height: 100;
    }
    
    
}
@media screen and (max-width:415px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        
    }
    .intro{
        margin-right: 40px;
    }
    .ania img{
        height: 280px;
    }
    
}
@media screen and (max-width:290px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        
    }
    .ania img{
        height: 270px;
    }
    
}

 
 
 